body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.sidebar {
    height: 100vh;
    position: fixed;
    width: 250px;
    background-color:#343a40;
    transition: transform .3s ease-in-out;
    border-top-right-radius: 20px;
}
.sidebar .nav-link {
    color:#ffF;
    padding:15px;
    text-decoration:none;
}
.sidebar .nav-link:hover {
    background-color:#495057;
}
.main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left .3s ease-in-out;
}
.top-navbar {
    background-color: #343a40;
    color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar.collapsed {
    transform: translateX(-100%);
}
.main-content.expanded {
    margin-left:0;
}
.card-text {
    margin-left: 10%;
    text-align: left; 
    margin-bottom: 10px;
    margin-top: 10px;
}
.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.hover-container {
    position: right;
}
.hidden-text {
    text-align: center;
    display: none;
    position: right;
    background-color: #343a40;
    padding: 5px;
    border-radius: 50px;
    z-index: 1;
}
.hover-container:hover .hidden-text {
    display: block;
}